<div *ngIf="embauchees.length" class="mt-4">
  <h2 class="mb-3">Liste des CVs sélectionnés pour l'embauche:</h2>
  <div class="d-flex flex-wrap">
    <div *ngFor="let personne of embauchees" class="mr-3 mb-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top rounded-circle" [src]="personne.path" alt="{{personne.firstname}} {{personne.name}}" [style.width.px]="100" [style.height.px]="100">
        <div class="card-body">
          <h5 class="card-title">{{personne?.firstname}} {{personne?.name}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
