form {
    max-width: 300px;
    margin: auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Bordure par défaut */
  }
  
  /* champs invalides */
  .ng-invalid.ng-touched {
    border-color: #ff0000; /* Bordure rouge  */
  }
  
  button {
    padding: 10px 15px;
    border-radius: 4px;
  }